<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Group Test Suite" verbose="1">
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>
    <test name="Group Test" >
        <groups>

            <define name = "all">
                <include name = "basic"/>
            </define>

            <run>
                <include name = "all"/>
            </run>
        </groups>

        <classes>
            <class name = "ChangeCityTest" />
            <class name = "FindRobotVacuumCleanerTest" />
            <class name = "FindMouseWithParamsTest" />
            <class name = "FindMouseTest" />
            <class name = "LoginTest" />
        </classes>
    </test>
</suite>
